/*-------------GENERAL-------------*/
body {
    background-color: #23252c;
    font-family: 'Roboto', sans-serif;
    color: #bcbcbd;
    border: #bcbcbd 5px solid;
    border-radius: 10px;
}
.card{
    position: relative;
    background-color: #1a1b21;
    border-radius: 3%;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
}

/*-------------INFO-------------*/
.info--container {
    text-align: center;
}
.photo {
    width: 100%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}

.profesion {
    color: #90664a;
    font-size: 23px;
}
.name {
    font-size: 27px;
    margin-bottom: -10px;
}
.skills {
    font-size: 18px;
}
/*----BUTTONS----*/
.buttons {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.btn--linkedin{
    display: flex;
    align-items: center;
    background-color: #0077b7;
    color: #eeeef0;
    font-size: 15px;
    margin: 5px 15px;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.logo--linkedin {
    width: 20px;
    height: 20px;
    margin: 0 3px 1px 0;
}
.linkedin {
    font-size: 18px;
    text-decoration: none;
    color: #eeeef0;
}

.btn--email {
    display: flex;
    align-items: center;
    background-color: #adadae;
    font-size: 15px;
    margin: 5px 15px;
    padding: 8px 42px;
    border-radius: 5px;
    border: none;
    cursor: pointer;    
}
.logo--mail{
    width: 20px;
    height: 20px;
    margin: 0 4px 0 0;
}
.mail {
    font-size: 18px;
}

/*-------------ABOUT-------------*/
.about--me {
    margin: 30px;
}
.about--tittle {
    margin-bottom: -8px;
}

/*-------------INTERESTS-------------*/
.interests {
    margin: 30px;
}
.interests--tittle {
    margin-bottom: -8px;
}
/*-------------FOOTER-------------*/
.footer--icons {
    text-align: center;
    background-color: #161619;
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;    
}
.logo--facebook {
    width: 38px;
    height: 38px;
    margin: 0 30px 2px 0;

}
.logo--twiter {
    width: 39px;
    height: 39px;
    margin: 0 30px 1px 0;
}
.logo--instagram {
    width: 40px;
    height: 40px;
    margin: 0 30px 0 0;
}
.logo--github {
    width: 40px;
    height: 40px;
}